<template>
  <section>
    <div class="flex">
      <div class="max-w-xs">
        <label for="wallet" class="block text-sm font-medium text-gray-700"
          >Тикер</label
        >
        <div class="mt-1 relative rounded-md shadow-md">
          <input
            type="text"
            name="wallet"
            id="wallet"
            v-model="ticker"
            @keydown.enter="add"
            class="
              block
              w-full
              pr-10
              border-gray-300
              text-gray-900
              focus:outline-none focus:ring-gray-500 focus:border-gray-500
              sm:text-sm
              rounded-md
            "
            placeholder="Например DOGE"
          />
        </div>

        <div class="text-sm text-red-600">Такой тикер уже добавлен</div>
      </div>
    </div>
    <add-button type="button" @click.native="add" class="my-4" />
  </section>
</template>
<script>
import AddButton from "@/components/AddButton.vue"
export default {
  name: "AddTicker",

  components: {
    AddButton
  },

  data() {
    return {
      ticker: ""
    }
  },

  methods: {
    add() {
      this.$emit("add-ticker", this.ticker)

      this.ticker = ""
    }
  }
}
</script>
